<div class="mt-xl header">
    <div class="container">
        <div class="row justify-content-center">
             {{ if .Site.Params.titleEmoji }}
                    <span class="name" style="margin: 0px !important;
  display: inline !important;
  height: auto;
  font-size: 30px;
  vertical-align: middle;
  line-height: 2;">
                        {{ .Site.Params.titleEmoji }}

                    </span>
                    {{ end }}
            <div class="col-auto">
                
                <a href="{{ .Site.BaseURL }}">
                   
                    <h1 class="name">{{ .Site.Params.sitename }}</h1>
                </a>
            </div>
        </div>

        <div class="row justify-content-center">
            <ul class="nav nav-primary">
                {{ range .Site.Menus.primary.ByWeight }}
                <li class="nav-item">
                    <a class="nav-link{{ if .Identifier }} text-{{ .Identifier }}{{ end }}" href="{{ .URL }}">
                        {{ .Pre }}
                        {{ .Name }}
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>